/* body {
  height: 100%;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

.header {
  position: fixed;
}

.containerOfContainer {
  display: flex;
  flex-direction: row;
  width: 82.5%;
  transform: translate(120px);
}
.dashContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* background-color: #e5e5e5; */
}

.concertCount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: "Montserrat";
  padding-left: 5px;
  letter-spacing: 2px;
}

.topArtist {
  position: absolute;
  width: 100%;
  height: 447px;
  left: 10px;
  top: 110px;
  border-radius: 20px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
}

.topArtistContent {
  position: absolute;
  width: 100%;
  height: 347px;
  left: 60px;
  bottom: 0px;
}

.topArtistContent .date {
  width: 590px;
  height: 20px;
  position: absolute;
  bottom: 255px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #ffffff;

  opacity: 0.8;
}

.topArtistContent .artistName {
  width: 590px;
  height: 73px;
  position: absolute;
  bottom: 174px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  text-align: start;

  color: #ffffff;
}

.topArtistContent .locationTop {
  width: 590px;
  height: 29px;
  position: absolute;
  bottom: 137px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;

  color: #ffffff;
  text-align: start;

  opacity: 0.8;
}

.topArtistContent button {
  /* Auto Layout */

  padding: 12px;

  position: absolute;
  width: 134px;
  height: 41px;
  bottom: 58px;

  /* Primary */

  border: 2px solid #1db954;
  box-sizing: border-box;
  /* light-shadow */

  filter: drop-shadow(0px 4px 32px rgba(60, 69, 76, 0.12));
  border-radius: 30px;
}

.concertContainer {
  position: relative;
  width: 100%;
  height: 100%;
  left: 5px;
  top: 618px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  /* border: 1px solid black; */
}
.fuckUdc {
  transform: translate(-200px);
}

.dropdown {
  padding-top: 4px;
  padding-right: 5px;
  transform: translateX(10px);
}
.dropdown label {
  margin-right: 1px;
}

.dropdown select {
  border: none;
}

.zip {
  color: #1db954;
}

.goersContainer {
  font-family: "Montserrat";
  position: relative;
  width: 782px;
  height: 100%;
  left: 205px;
  top: 618px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.dcContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  /* left: 300px; */

  /* pointer-events: none; */
}
