@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

.eventContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 860px;
  min-height: 60px;
  transform: translateX(-15px);

  /* border: 1px solid black; */
  box-sizing: border-box;
  /* margin-bottom: 20px; */
}

.eventButton {
  transform: translate(20px, 20px);
}

.date {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  transform: translateY(10px);
}

.nameAndLocation {
  display: flex;
  flex-direction: column;
  transform: translateY(10px);
  pointer-events: none;
}

.artistPhoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  pointer-events: none;
}

.over {
  display: flex;
  flex-direction: row;
  pointer-events: none;
  transform: translateX(5px);
}

.month {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  pointer-events: none;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.02em;
  transform: translateX(65px);

  /* Blue 2 */

  color: #2d9cdb;
}

.day_time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-top: 7px;
  pointer-events: none;
  /* identical to box height */

  text-align: center;
  justify-self: flex-end;
  letter-spacing: 0.02em;

  transform: translateX(65px);
  color: #243037;

  opacity: 0.6;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  transform: translate(135px);
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.02em;
  pointer-events: none;

  /* txt-color */

  color: #243037;
}

.location {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  transform: translateX(135px);
  pointer-events: none;
  text-align: center;
  letter-spacing: 0.02em;

  /* txt-color */
  padding-top: 7px;

  color: #243037;

  opacity: 0.6;
}

.eventInfo {
  /* height: 100px; */
  width: 680px;
  display: flex;
  padding: 0 30px;
  align-items: center;
  min-height: 80px;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.eventInfoActive {
  width: 680px;
  display: flex;
  padding: 0 30px;
  align-items: center;
  min-height: 80px;
  cursor: pointer;
  /* border: 1px solid black; */
  box-sizing: border-box;
  background-color: #fafafa;
}

.eventInfo:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.dashDropdownArrow {
  pointer-events: none;
}

/* .dashDropdownArrow:hover {
  cursor: pointer;
} */
/* .mainDropdownCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* 
.dashDropdown {
  width: 100%;
  position: relative;
} */

.dashDropdownMenu {
  /* position: absolute; */
  width: 100%;
  /* left: 0; */
  /* top: calc(100% + 0.25rem); */
  background-color: white;

  /* padding: 0.75rem; */
  /* border-radius: 0.25rem; */
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); */
  /* z-index: 1;
  opacity: 1; */
  /* pointer-events: none; */
  /* transform: translateY(-10px); */
  /* transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; */
  /* border: 1px solid black; */
}
/* 
.dashDropdownMenu:hover {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
} */

.mainDropdownContActive {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(204, 203, 203);
  box-shadow: 0px 5px 15px 0px rgba(65, 64, 64, 0.5);
  width: 100%;
  border-radius: 5px;
}

.eventInfoFlex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.lineupContainer {
  position: absolute;
  opacity: 0;
}

.lineupPosition {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lineupPosition p {
  margin-bottom: 15px;
  transform: translateX(60px);
}

svg {
  transform: translateX(-13px);
  pointer-events: none;
  font-size: 20px;
}

.arrowActive {
  transform: translateX(-13px) rotate(180deg);
  pointer-events: none;
}
