.Lineup {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 55px;
  width: 200px;
  height: 50px;
}

.Lineup:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.lineupArtistPhoto {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 50%;
  transform: translateX(5px);
}

.lineupArtistName {
  transform: translateX(15px);
}
