@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

.ticketPageContainer {
  width: 100vh;
  height: 100vw;
}

.map {
  height: 100%;
  width: 774px;
  background-color: #f0f0f0;
  position: fixed;
}
.container {
  z-index: -1;
}

.ticketContentContainer {
  position: absolute;
  width: 765px;
  height: 100%;
  left: 772px;
  top: 0px;

  background: #ffffff;

  /* light grey */

  /* border: 1px solid #dee0e2; */
  box-sizing: border-box;
}

.artistTicketPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;

  position: absolute;
  width: 765px;
  height: 128px;
  left: 0px;
  top: 68px;

  /* black */

  background: #000000;
}

.tickArtistContent {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 363px;
  height: 80px;
  left: 24px;
  top: 24px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.tickArtistPhoto {
  position: static;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 0px;
  transform: translateX(10px);

  /* white */

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}

.tickArtistDateLocation {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 267px;
  height: 70px;
  left: 96px;
  top: 5px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}

.tickDate {
  /* Date_div */

  /* Auto Layout */

  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 0px;

  position: static;
  width: 246.99px;
  height: 17px;
  left: 0px;
  top: 53px;
  font-size: 14px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
  color: #fefefe;
}

.tickLocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 267px;
  height: 45px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
  color: white;
}

.tickLocation p {
  transform: translateY(8px);
  font-size: 14px;
}

.ticketSelectionContainer {
  position: absolute;
  width: 765px;
  height: 734px;
  left: 0;
  top: 196px;
  z-index: 1;

  background: #ffffff;
  /* light grey */

  box-sizing: border-box;
}

.ticketDropdown {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 8px 15px 8px 16px;

  position: relative;
  width: 300px;
  height: 36px;
  left: 24px;
  top: 0px;
  cursor: pointer;

  text-align: start;
  padding-left: 15px;

  /* white */
  z-index: 2;
  background: #ffffff;
  /* light grey */

  border: 1px solid #dee0e2;
  border-radius: 4px;
}

.ticketDropdown:hover {
  border-color: #1db954;
}

.ticketContainer {
  width: 765px;
  display: flex;
  flex-direction: column;
  transform: translateY(100px);
  border-left: 1px solid #dee0e2;
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.dropdownTicks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 300px;
  /* height: 360px; */
  left: 24px;
  top: 255px;
  z-index: 999;

  background: #ffffff;
  /* light grey */
  opacity: 0;
  border: 1px solid #dee0e2;
  /* light-shadow */

  box-shadow: 0px 4px 32px rgba(60, 69, 76, 0.12);
  border-radius: 4px;
}

.dropdownTicksActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 300px;
  /* height: 360px; */
  left: 24px;
  top: 65px;
  z-index: 999;

  background: #ffffff;
  /* light grey */
  /* opacity: 1; */
  border: 1px solid #dee0e2;
  /* light-shadow */

  box-shadow: 0px 4px 32px rgba(60, 69, 76, 0.12);
  border-radius: 4px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.dropdownTicksActive p {
  margin-top: 10px;
}

.tickFixed {
  position: fixed;
  z-index: 2;
}

.dropdownContTick {
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  height: 90px;
  width: 300%;
  transform: translateY(195px);
}
